body, html {
    color: #E0E0E0;
    background: #212121;
}

input, textarea, select {
    border: 1px solid #313131;
    background-color: #313131;
}

input:focus, textarea:focus, select:focus {
    border: 1px solid #80C5FF;
}

#card-new-project {
    background-color: #313131;
}

#card-new-project strong {
    color: #848484;
}

#sidebar {
    border-right: solid 1px #212121;
}

.blue {
    background-color: #212121;
    color: #fff;
}

.white {
    background-color: #212121;
}

#sidebar.blue:before {
    background: #212121;
    border: none;
}

.blue hr {
    border-color: #424242;
}

hr {
    border-color: #212121;
}

thead th {
    border-bottom: 1px solid #212121;
    vertical-align: top;
}

thead {
    background: #313131;
}

tbody {
    background: #212121;
}

.button.inverted, button.inverted {
    border: solid 2px;
    color: #848484;
}

.button.solid.success, button.solid.success {
    background: #313131;
    border: solid 1px #80C5FF;
    border-radius: 0;
    color: #fff;
}

.card {
    background: #313131;
    border: 1px solid #212121;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12) inset, 0 1px 2px rgba(0,0,0,0.24) inset;
    transition: all 0.1s ease-in-out;
}

.card footer {
    border-color: #212121;
    box-shadow: 0 -4px 12px -6px rgba(0,0,0,0.23);
}

.card header, .card footer {
    background-color: #212121;
    border-color: inherit;
    border-style: solid;
}

.card section, .card header, .card footer {
    color: #E0E0E0;
    padding: 18px 24px;
}

.card:focus {
    border: 1px solid #80C5FF;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16) inset, 0 3px 6px rgba(0,0,0,0.23) inset;
}

.darken {
    background-color: #212121;
}

.lighten {
    opacity: 0.88;
}

.react-app-wrapper>#footer {
    border-top: solid 1px #212121;
}

.react-app-wrapper>#header {
    border-bottom: solid 1px #212121;
}

.react-app-wrapper>#header, .react-app-wrapper>#footer {
    background-color: #212121;
    box-shadow: none;
    color: #BDBDBD;
}

.spaced-3x > * {
    margin-right: 0;
}

h2, h6 {
    color: #9E9E9E;
}

.border-bottom {
    border-bottom: 1px solid #212121;
}

.border-top {
    border-bottom: 1px solid #212121;
}

nav.tabs a.active, nav.tabs a:hover {
    color: #eee;
    border-bottom: 1px solid #80C5FF;
}

nav.tabs {
    color: #bdbdbd;
    border-bottom: 1px solid #212121;
}

.graph line {
    stroke: #80C5FF;
    stroke-width: 1;
}

