body, .app-main, #right_col {
    background: #111;
}

a, .dropmenu.menu-like .dropmenu_action, .menu-like.ui-menu .dropmenu_action, .menu-like.ui-multiselect-menu .dropmenu_action, .dropmenu.menu-like .ui-menu-item a, .menu-like.ui-menu .ui-menu-item a, .menu-like.ui-multiselect-menu .ui-menu-item a, .dropmenu.menu-like .edit_action span, .menu-like.ui-menu .edit_action span, .menu-like.ui-multiselect-menu .edit_action span, .dropmenu.ui-menu .dropmenu_action, .ui-menu .dropmenu_action, .ui-menu.ui-multiselect-menu .dropmenu_action, .dropmenu.ui-menu .ui-menu-item a, .ui-menu .ui-menu-item a, .ui-menu.ui-multiselect-menu .ui-menu-item a, .dropmenu.ui-menu .edit_action span, .ui-menu .edit_action span, .ui-menu.ui-multiselect-menu .edit_action span, .player-text-link {
    color: #80C5FF;
}

.dropmenu.menu-like .dropmenu_action.active, .menu-like.ui-menu .dropmenu_action.active, .menu-like.ui-multiselect-menu .dropmenu_action.active, .dropmenu.menu-like .dropmenu_action.ui-state-hover, .menu-like.ui-menu .dropmenu_action.ui-state-hover, .menu-like.ui-multiselect-menu .dropmenu_action.ui-state-hover, .dropmenu.menu-like .dropmenu_action.ui-state-active, .menu-like.ui-menu .dropmenu_action.ui-state-active, .menu-like.ui-multiselect-menu .dropmenu_action.ui-state-active, .dropmenu.menu-like .dropmenu_action:hover, .menu-like.ui-menu .dropmenu_action:hover, .menu-like.ui-multiselect-menu .dropmenu_action:hover, .dropmenu.menu-like .ui-menu-item a.active, .menu-like.ui-menu .ui-menu-item a.active, .menu-like.ui-multiselect-menu .ui-menu-item a.active, .dropmenu.menu-like .ui-menu-item a.ui-state-hover, .menu-like.ui-menu .ui-menu-item a.ui-state-hover, .menu-like.ui-multiselect-menu .ui-menu-item a.ui-state-hover, .dropmenu.menu-like .ui-menu-item a.ui-state-active, .menu-like.ui-menu .ui-menu-item a.ui-state-active, .menu-like.ui-multiselect-menu .ui-menu-item a.ui-state-active, .dropmenu.menu-like .ui-menu-item a:hover, .menu-like.ui-menu .ui-menu-item a:hover, .menu-like.ui-multiselect-menu .ui-menu-item a:hover, .dropmenu.menu-like .edit_action span.active, .menu-like.ui-menu .edit_action span.active, .menu-like.ui-multiselect-menu .edit_action span.active, .dropmenu.menu-like .edit_action span.ui-state-hover, .menu-like.ui-menu .edit_action span.ui-state-hover, .menu-like.ui-multiselect-menu .edit_action span.ui-state-hover, .dropmenu.menu-like .edit_action span.ui-state-active, .menu-like.ui-menu .edit_action span.ui-state-active, .menu-like.ui-multiselect-menu .edit_action span.ui-state-active, .dropmenu.menu-like .edit_action span:hover, .menu-like.ui-menu .edit_action span:hover, .menu-like.ui-multiselect-menu .edit_action span:hover, .dropmenu.ui-menu .dropmenu_action.active, .ui-menu .dropmenu_action.active, .ui-menu.ui-multiselect-menu .dropmenu_action.active, .dropmenu.ui-menu .dropmenu_action.ui-state-hover, .ui-menu .dropmenu_action.ui-state-hover, .ui-menu.ui-multiselect-menu .dropmenu_action.ui-state-hover, .dropmenu.ui-menu .dropmenu_action.ui-state-active, .ui-menu .dropmenu_action.ui-state-active, .ui-menu.ui-multiselect-menu .dropmenu_action.ui-state-active, .dropmenu.ui-menu .dropmenu_action:hover, .ui-menu .dropmenu_action:hover, .ui-menu.ui-multiselect-menu .dropmenu_action:hover, .dropmenu.ui-menu .ui-menu-item a.active, .ui-menu .ui-menu-item a.active, .ui-menu.ui-multiselect-menu .ui-menu-item a.active, .dropmenu.ui-menu .ui-menu-item a.ui-state-hover, .ui-menu .ui-menu-item a.ui-state-hover, .ui-menu.ui-multiselect-menu .ui-menu-item a.ui-state-hover, .dropmenu.ui-menu .ui-menu-item a.ui-state-active, .ui-menu .ui-menu-item a.ui-state-active, .ui-menu.ui-multiselect-menu .ui-menu-item a.ui-state-active, .dropmenu.ui-menu .ui-menu-item a:hover, .ui-menu .ui-menu-item a:hover, .ui-menu.ui-multiselect-menu .ui-menu-item a:hover, .dropmenu.ui-menu .edit_action span.active, .ui-menu .edit_action span.active, .ui-menu.ui-multiselect-menu .edit_action span.active, .dropmenu.ui-menu .edit_action span.ui-state-hover, .ui-menu .edit_action span.ui-state-hover, .ui-menu.ui-multiselect-menu .edit_action span.ui-state-hover, .dropmenu.ui-menu .edit_action span.ui-state-active, .ui-menu .edit_action span.ui-state-active, .ui-menu.ui-multiselect-menu .edit_action span.ui-state-active, .dropmenu.ui-menu .edit_action span:hover, .ui-menu .edit_action span:hover, .ui-menu.ui-multiselect-menu .edit_action span:hover, a:hover, .player-text-link:hover {
    color: #fff;
    text-decoration: none;
	background: transparent;
}

input.text:focus, textarea:focus {
    -webkit-box-shadow: inset 0 0 4px #111;
    background: #555;
    color: #fff;
}

::selection {
    color: #fff;
    background: #80C5FF;
    text-shadow: 0px 1px 2px #111;
}

.tipsy {
    position: absolute;
    padding: 0;
    border: 1px solid #80C5FF;
    opacity: 0.9;
    text-shadow: 0px 1px 2px #000;
}

.tipsy-inner {
    background-color: #111;
    color: #fff;
    max-width: 200px;
    padding: 5px 8px 4px;
    text-align: center;
}

.tipsy-arrow-n {
    border-bottom-color: #80C5FF;
}

.tipsy-n .tipsy-arrow, .tipsy-s .tipsy-arrow {
    left: 50%;
    margin-left: -5px;
    top: -6px;
}

.button.glyph svg path, .follow-button:not(.ember-follow) .glyph.follow svg path, .button.glyph-only svg path, .follow-button:not(.ember-follow) .glyph-only.follow svg path, .channel-stats .live-count svg path, .channel-stats .stat svg path, .channel-stats .stat svg path {
    fill: #80C5FF;
}

.button.glyph:hover svg path, .follow-button:not(.ember-follow) .glyph.follow:hover svg path, .button.glyph-only:hover svg path, .follow-button:not(.ember-follow) .glyph-only.follow:hover svg path, .button.glyph:not(.disabled):hover path, .follow-button:not(.ember-follow) .glyph.follow:not(.disabled):hover path, .button.glyph-only:not(.disabled):hover path, .follow-button:not(.ember-follow) .glyph-only.follow:not(.disabled):hover path {
    fill: #eee;
}

/* player */

#player {
    box-shadow: 0 2px 8px #111;
}

.player-button:hover:enabled svg {
    fill: #80C5FF;
}

.player-menu__menu, .player-playback-stats.js-playback-stats {
    border: 1px solid;
}

.player-menu__menu:after {
    border: 6px solid #80C5FF;
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.player-video-issue__submit {
    background: #333;
    border: 1px solid #444;
    color: #fff;
}

.player-video-issue__submit:hover {
    background: #222;
    border: 1px solid #80C5FF;
    color: #fff;
}

.player-slider .ui-slider-range {
    background: #80C5FF;
}

.player-controls-bottom {
    background: linear-gradient(to top,rgba(51,51,51,1) 0,rgba(51,51,51,1) 1px,rgba(34,34,34,1) 1px,rgba(34,34,34,0.25) 48px, rgba(51,51,51,0.1) 48px, rgba(51,51,51,0.1) 49px,transparent 50px);
}

/* home page */

#site_header {
    background: #333;
    border-bottom: 1px solid #80C5FF;
}

.header_divider {
    border-color: #666;
}

#header_search .text, #header_search .countries-input {
    background-image: url(/images/xarth/header_search_icon.svg);
    background-repeat: no-repeat;
    background-position: 4px center;
}

#carousel_and_background:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 580px;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.75;
    box-shadow: inset 0 2px 16px #111;
}

#carousel_background img {
    -webkit-filter: blur(0px) brightness(2) contrast(1.7) saturate(0.8);
}

#carousel_background:after {
    opacity: 0.8;
    -webkit-filter: invert(0) brightness(0.47) contrast(8);
    background-image: url(http://i.imgur.com/W4ljR5J.png);
}

#carousel .nav {
    border-top: 1px solid #444;
}

#carousel .nav ul {
    padding: 14px 0px;
}

#carousel .nav ul li.active a:before {
    box-shadow: inset 0 0 0 2px #80C5FF, 0 2px 8px #111;
}

.main, .fullwidth_main {
    border-top: 1px solid #80C5FF;
    background: #222;
}

#games {
    padding-top: 20px;
}

.fullwidth_main.front_page h2, .items-grid .meta .title, .browse-this h4:after {
    color: #80C5FF;
}

.fullwidth_main.front_page h2 span {
    color: #eee;
}

#social-media {
    background: none;
    box-shadow: inset 0 0px 12px #111;
}

#social-media:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 207px;
    left: 0;
    z-index: 0;
    background-image: url(/images/xarth/pages/front/splash.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-filter: brightness(0)  contrast(0.1) saturate(0) invert(0);
}

/* following page */

ul.tabs li>a, .directory_header .nav li>a, ul.tabs_fake li>a {
	color: #80C5FF;
}

ul.tabs li>a:hover, .directory_header .nav li>a:hover, ul.tabs_fake li>a:hover {
	color: #eee;
}

ul.tabs li>a.active, .directory_header .nav li>a.active, ul.tabs_fake li>a.active {
    color: #fff;
}

/* dropdowns and popups */

select {
    background: #333;
    color: #eee;
    border: 1px solid #444;
    border-radius: 0;
}

select:hover, select:focus {
    background: #333;
    color: #fff;
    border: 1px solid #80C5FF;
    box-shadow: inset 0 0 2px #111;
}

.dropmenu, .ui-menu, .ui-multiselect-menu, #flyout .content, .player-menu__menu, .player-playback-stats.js-playback-stats {
    background: rgba(34,34,34,0.9);
    color: #eee;
    border-color: #80C5FF;
    box-shadow: 0 2px 8px #111;
}

#flyout .point:before {
    border: 6px solid #80C5FF;
    border-left-color: transparent;
    border-top-color: transparent;
    border-bottom-color: transparent;
}

.dropmenu_action:hover {
    background: #80C5FF;
    color: #222;
}

/* sidebar */

#left_col:before {
    background: #80C5FF;
    width: 1px;
}

#left_col .title {
    color: #bbb;
}

#small_nav .content, div#main_col, #large_nav .content, .app-main .isLoggedIn .nav_section div#you span.username {
    background: #222;
    color: #eee;
}

#large_nav .game_filter.selected a:not(.button) {
    background: #333;
    color: #fff;
    border-left: 4px solid #333;
}

#small_nav .game_filter.selected a {
    background: #333;
    border-left: 3px solid #333;
}

#large_nav .content .nav_section .header {
    color: #ddd;
}

#large_nav .content .nav_section .nav-divider {
    border-top: 1px solid #444;
}

#large_nav .game_filter.selected a:not(.button) .total_count {
    background: #333;
    color: #eee;
}

#large_nav .content .nav_section a:not(.button) .total_count {
    margin: 0px 5px 0 8px;
    height: 34px;
    padding: 0 16px;
    line-height: 34px;
    font-size: 12px;
}

/* top channel info */

#channel .player-column #broadcast-meta .info .title {
    color: #E0E0E0;
}

#channel .player-column #broadcast-meta .info .channel {
    color: #BDBDBD;
}

#channel .player-column #broadcast-meta .info .title .over {
    background: #333;
}

/* last broadcast */

.upsell-banner {
    background: #222;
    padding: 0 28px 10px 28px;
    border-bottom: 1px solid #333;
    box-shadow: inset 0 2px 8px #111;
    margin: 0;
    border: none;
}

.upsell-banner:before {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), transparent);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 4;
}

.recent-past-broadcast__message>h1 {
    margin-bottom: 0;
    padding-top: 0;
    color: #80C5FF;
}

/* chat */

.chat-container, .ember-chat-container {
    border-left: 1px solid #80C5FF;
    color: #eee;
}

.chat-header.main-header, .chat-room {
    background: #222;
    box-shadow: none;
}

.chat-line {
    background-color: #111;
}

div.chat-line {
    border-bottom: none;
    padding: 2px 6px;
    margin: 1px 0 0 0;
}

#right_col .top {
    background-color: #fff;
}

.ember-chat .chat-messages {
    background: #222;
    bottom: 110px;
}

.ember-view .chat-input, input.text, input.countries-input, .recurly input, input.string, textarea {
    background: #444;
    border-color: #333;
}

#channel {
    padding: 0 0px;
}

#channel .player-column #broadcast-meta {
    height: 60px;
    margin: 16px;
}

#left_close {
    top: 91.33%;
    right: 15px;
}

/* stats area */

.stats-and-actions {
    background: #191919;
    padding: 8px 16px 4px 12px;
    border-bottom: 1px solid #333;
    margin-bottom: 0px;
}

.ember-follow.follow-button.is-following a {
    background-color: #80C5FF;
}

.ember-follow.follow-button svg {
    fill: #222;
}

.ember-follow.follow-button:not(.is-following) a, .primary_button, .primary.button {
    border: 1px solid #80C5FF;
    background-color: #222;
    color: #fff;
}

.notification-controls .toggle-notification-menu {
    background-color: #333;
}

.notification-controls .toggle-notification-menu:before, .button.drop:after {
    border-color: rgba(255,255,255,0.25);
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}

.switch {
    background: #555;
    color: #fff;
}

.button.subscribe-button .subscribe-price, .follow-button:not(.ember-follow) .subscribe-button.follow .subscribe-price {
    background: #333;
    margin: 0 0 0 5px;
    padding: 6px 8px 4px 8px;
}

.button, .follow-button:not(.ember-follow) .follow {
    color: #eee;
}

.share_field .ember-text-field, .channel-stats .stat {
    color: #999;
}

label {
    color: #fff;
}

/* channel info */

.masonry-brick {
    background: #191919;
    color: #999;
    padding: 0px;
    box-shadow: inset 0 2px 8px #111;
}

.panel-formatting .panel h3 {
    color: #aaa;
}

.part.description {
    margin: 8px;
}

.panel-formatting .panel .description hr, .panel-formatting .panel .description p, .panel-formatting .panel .description ul, .panel-formatting .panel .description ol, .panel-formatting .panel .description blockquote {
    margin: 0px 4px 8px 4px;
}

/* bttv whispers */

.conversations-content .conversations-list-icon {
    background: #444;
    border: 1px solid #666;
    border-bottom: 0;
}