.exp-watch-controls-overlay .watch-stage-mode .player-height, .watch-stage-mode .player-height {
    height: 600px;
}

.watch-stage-mode .player-width {
    left: -534px;
    width: 1068px;
}

/* vidIQ */

#ytStatsHeader {
    background: #222;
    border-color: #333;
    box-shadow: 0 4px 8px -4px #111 !important;
}

#ytStats {
    background: #1e1e1e;
    border: 1px solid #333;
}

.logoContainer, #vidiq-badge {
    -webkit-filter: invert(1) saturate(0) brightness(10) contrast(0.33);
}

a#statsView {
    color: #aaa;
}

.tabLink a.current, .tabLink a.current:visited, a#statsView.current {
    color: #eee;
}

.tabLink a.current::before {
    background-color: #80C5FF;
    height: 3px;
    left: 0px;
    top: 48px;
    right: 0px;
    position: absolute;
    content: "";
}

.videoStats .dragdealer .handle {
    background: #222;
    border-radius: 0;
    border: 1px solid #333;
}

.videoStats .dragdealer {
    background-color: #333;
}

.videoStats {
    margin: 5px;
}

.score {
    -webkit-filter: saturate(1.25) contrast(0.5) brightness(1.25);
}
